@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
   <div class="col-md-20">
            <div class="row overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h1 class="display-3 font-weight-bold">In the process of development <a href="#"></a></h1>
                    <p class="display-4 font-weight-lighter font-italic"> <strong>We'll let you know as soon as
                            possible about the new features of our blog...</strong></p>
                </div>
            </div>
        </div>