@{
}

 <div class="row mb-2">
            <div class="col-md-18">
                <div class="row g-0 overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                    <div class="col p-3 d-flex flex-column position-static">
                        <h1 class="display-3 font-weight-bold">Foodie blog welcomes you</h1>
                        <p class="display-4 font-weight-lighter font-italic"> <strong>In this blog you can learn about
                                interesting places to eat in KYIV.</strong></p>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-10">
                    <div class="row g-0 overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h1 class="display-3">Our articles</h1>
                            <p class="lead my-2"> <strong> On the <a asp-action="Articles"
                                        class="text-anchor">Articles</a> page you can find a lot of interesting
                                    information about unusual establishments in the city of Kyiv.
                                </strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row g-0 overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h1 class="display-2">Find a new one</h1>
                            <p class="lead my-3"> <strong>On the <a asp-action="Discussion" 
                                        class="text-anchor">Discussion</a> page you can read customer reviews about
                                    restaurants, as well as find new establishments that are not written about in our
                                    blog.</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>